.App {
  background-image: url("./imgs/Meteor.svg");
  height: 100vh;
  display: flex;
  justify-content: center;
}



.welcome {
  font-size: 2rem;
  color: white;
  height: 30%;
  margin: 5%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.title{
  font-size: 5rem;
}

.subtitle{
  
}